.contact-content{
  height: 355px;
  width: 100%;
  background: #33363f;
  position: relative;
}
.contact-text{
  padding:50px 0;
  color: #fff;

}
.contact-text h3{
font-size: 2.5em;
font-weight: normal;
height: 50px;
line-height: 50px;
}
.contact-text p{
font-size: 1em;
height: 20px;
line-height: 20px;
width: 35%;
margin: 0 auto;
}
.contact-input{
  top:150px;
  left:40%;
}
.contact-input input{
  width: 35%;
  height: 38px;
  margin: 0 auto;
  text-align: left;
  text-indent: 1em;
}
.contact-input button{
  width: 79px;
  height: 40px;
  border: none;
  color: #fff;
  background:#696266;
}
.contact-icon{
  height: 50px;
}
.contact-icon ul{
  height: 50px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.contact-icon li{
  width: 30px;
  margin: 0 20px;
  float: left;
  height: 30px;
}
.contact-icon a{
  width: 30px;
  height: 30px;
}
.contact-bottom{
  height: 60px;
  line-height: 60px;
  width: 100%;
  background: #303039;
}
.contact-bottom-left{
  float: left;
  width: 20%;
  color: #fff;
}
.contact-bottom-right{
  float: right;
  width: 20%;
}
.contact-bottom-right a{
  color: #fff;
}
