.page2-header{
  height: 160px;
  background-color: #EDEDEC;
  padding: 100px 0;
}
.page2-header-logo{
  background-image: url('../images/icon.png');
  background-position: -38px -155px;
  height: 100px;
  width: 100px;
  display: block;
  margin: 0 auto;
}
.page2-header h1{
  font-size: 5em;
  color: #867e7a;
  font-weight: normal;
}
.page2-middle{
  height: 250px;
  background: url('../images/adds-bg.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  padding: 50px 0;
}
.page2-middle h1{
  color: #fff;
  height: 50px;
  line-height: 50px;
}
.page2-middle p{
  color: #fff;
  height: 50px;
  line-height: 50px;
}
.page2-middle form{
    width: 100%;

}
.page2-middle .input-ul{
  width: 80%;
  height: 36px;
  margin: 0 auto;
}
.page2-middle .input-ul .input-li{
  float:left;
  position: relative;
  margin: 0 10px;
  width: 21%;
}
.page2-middle input{
  height: 36px;
  width: 100%;
  text-align: left;
  text-indent: 1em;
  border: none;
}

.page2-middle button{
  display: block;
  border: none;
  background-color: #BE4F48;
  height: 40px;
  width: 100%;
}
.page2-middle .input-ul a{
  background: url('../images/icon.png') -363px -220px;
  width: 20px;
  height: 20px;
  position: absolute;
  top:8px;
  right: 5px;
}
.province-drop{
  width: 98.8%;
  border: 1px solid #BE4F48;
  background-color: #E3E3E4;
  height: 200px;
}
.province-drop ul{
height: 30px;
width: 100%;
}
.province-drop li{
width: 100%;
height: 30px;
line-height: 30px;
text-align: left;
text-indent: 2em;
cursor: pointer;
}
.province-drop li.active{
background-color: #BE4F48;
}
.province-drop li:hover{
background-color: #BE4F48;
}
/*画框展示部分*/
.page2-bottom{
  height: 400px;
  background-color: #EDEDEC;
  padding: 8% 0;
}
.page2-bottom-display{
  float: left;
  margin: 0 5px;
  width: 22%;

}
.page2-bottom-display img{
  background-color: #fff;
  width: 85%;
  height: 100%;
  padding: 6px;
  border: 1px solid #d0ccca;
}
.page2-bottom-content{
  width: 72%;
  height: 100%;
  margin: 0 auto;
}
.page2-bottom-display h3{
  height: 30px;
  line-height: 30px;
}
.page2-bottom-display h3 a{
color: #333;
font-weight: normal;
font-size: 1.1em;

}
.page2-bottom-display .h3-big{
display: block;
  width: 80%;
margin: 0 auto;
}
.page2-bottom-display .h3-big a{
  display: block;
  width: 100%;
    font-weight: bold;
    text-align-last:justify;
}
.page2-bottom-display p{
  height: 25px;
  line-height: 25px;
  font-size: 0.8em;
  color: #786f6c;
}
