ul{
  margin: 0;
  padding: 0;
  display: flex;
  align-items:center;
  /*设置两端对齐*/
  justify-content:space-between;
  /*设置换行方式，默认是不换行的*/
   flex-wrap:wrap;
}
li{
  list-style: none;
  width: 150px;
  margin:20px;
  /*取消缩放*/
  flex-shrink:0;
}
.box1, .box2, .box3{
    border: 1px solid #f00;
}
.box1{
  height: 120px;
}
.box2{
  height: 100px;
}
.box3{
  height: 40px;
}
.box4{
  border: 1px solid #00f;
  height: 200px;
}

/*屏幕宽度低于640px，设置块大小*/
@media screen and (max-width:640px) {
    .box4{
      order:-1;
    }
    .box1, .box2, .box3{
      order:0;
    }
}
